<style>
    footer{
        background: #4b4b4b;
        color: white;
        padding: 5px;
    }

    p{
        text-align: center;
    }

</style>


<footer>
    <p>Trademark 2023, Developed By DP</p>
</footer>