<style>

h1 > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

</style>



<header>
    <h1><a href="/">CMS</a></h1>


    <nav>
        <a href="/">Home</a>
        <a href="/createBlog">Add Blog</a>

    </nav>
</header>